/* ----- BANNER ------- */
.banner {
  height: 100vh;
  background-image: url("../img/main.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  &__container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;

    height: 100%;
    padding-bottom: 5%;
  }
}
/* ------------------------------------ */