/* ------ VIDEO ------- */
.video {
  position: relative;
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 25px;

  border: 25px solid rgba(255, 255, 255, 0.3);
  background-color: rgba(204, 204, 204, 0.5);
  &__player {
    width: 100%;
  }
}
/* ------------------------------------------------ */

/* -------------------- MEDIA QUERIIS ------------------ */
@media screen and (max-width: $md) {
  .video {
    padding: 17px;

    border: 18px solid rgba(255, 255, 255, 0.3);
    background-color: rgba(204, 204, 204, 0.5);
    &__player {
      width: 100%;
    }
  }
}
@media screen and (max-width: $sm) {
  .media__container {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
}
/* ----------------------------------------------------------- */
